/*!
* 
* sass --watch wireframe.scss:wireframe.css --style compressed
* 
*/

// Options
// 
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true !default;
$enable-shadows: true;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Variables
//
// Colors

$theme-colors: (primary: #cdcdcd,
  secondary: #b0b0b0,
  light: #eaeaea,
  dark: #555555,
  info: #8e8e8e,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545);

$body-bg: white;
$body-color: #333;


$body-color-inverse: invert($body-color) !default;
$link-color: #8e8e8e;

// Fonts
$font-family-base: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$headings-font-family: $font-family-base;
$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$headings-font-weight: $font-weight-normal;
$lead-font-size: 1.30rem;
$lead-font-weight: 300;
$spacer: 1.5rem;
$font-size-base: 1rem;
$font-weight-light: 300;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$headings-line-height: 1.2;

@import '../node_modules/bootstrap/scss/bootstrap';


html,
body {
  height: 100%;
}

// Color yiq
@each $name,
$value in $theme-colors {
  .bg-#{$name} {
    color: color-yiq($value);

    input::placeholder {
      color: transparentize(color-yiq($value), .2);
    }

    .input-group-text {
      color: color-yiq($value);
    }
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.cover {
  min-height: 100%;
}

form {
  button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .file-upload {
      height: 200px;
      width: 200px;
      border-radius: 100px;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 4px solid #FFFFFF;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
      background-size: 100% 200%;
      transition: all 1s;
      color: #FFFFFF;
      font-size: 100px;

      input[type='file'] {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }

      &:hover {
        background-position: 0 -100%;
        color: #2590EB;
      }
    }
  }
}

.container {
  .row {
    .col-md-4 {
      &.p-3 {
        .card {
          background-color: rgba(97, 97, 97, 0.5607843137254902);

          &.box-shadow {
            .card-img-top {
              max-height: 100px;
              padding: 11px;
            }
          }

          .card-body {
            .form-group {
              input {
                background-color: #656565;
                color: #fff;

                &::placeholder {
                  color: #fff;
                }
              }

              small {
                color: red !important;
                letter-spacing: 0;
                line-height: 26px;
              }
            }

            .d-flex {
              &.justify-content-end {
                .text-muted {
                  color: #ffffff !important;
                }
              }
            }
          }
        }
      }
    }
  }
}